$body-font: "Open Sans", sans-serif;
$heading-font: "Oswald", sans-serif;
$heading-font-size: 50px;
$hot-pink: #e10153;
* {
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  gap: 120px;
  margin: 70px auto;
  max-width: 1400px;
  font-family: $body-font;
  h1,
  h2,
  h3 {
    font-family: $heading-font;
  }

  .cookbook {
    max-width: 550px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    text-align: center;
    position: relative;

    .cookbook__donut {
      background-color: #fec3c7;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      #free {
        text-align: left;
        font-weight: 600;
        color: white;
        background-color: #e10153;
        position: absolute;
        top: 45px;
        left: -13px;
        padding: 8px 25px;
        border-radius: 5px;
      }
      img {
        max-width: 100%;
        max-height: 500px;
      }
    }
    .cookbook__input-area {
      padding: 30px 60px;
      z-index: 1;
      box-shadow: 23px 22px 20px -30px rgba(0, 0, 0, 0.41);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      h1 {
        font-size: $heading-font-size;
        line-height: 1.2;
        padding-bottom: 20px;
      }
      p {
        padding-bottom: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
          text-align: center;
          color: $hot-pink;
          border: 1px solid $hot-pink;
          padding: 15px 0px;
          border-radius: 5px;
          font-size: 14px;
          margin-bottom: 10px;
        }
        ::-webkit-input-placeholder {
          color: $hot-pink;
        }
        select {
          text-align: center;
          border: 1px solid $hot-pink;
          color: $hot-pink;
          padding: 15px 0px;
          border-radius: 5px;
          font-size: 14px;
          margin-bottom: 15px;
        }
        button {
          text-align: center;

          margin-bottom: 10px;
          color: white;
          background-color: $hot-pink;
          border: none;
          padding: 15px 0px;
          border-radius: 5px;
          font-size: 14px;
        }
        #dont-spam {
          font-size: 13px;
          color: #666667;
        }
      }
    }
  }
  .text-area {
    width: 550px;
    .text-area__text-only {
      padding-top: 30px;
      h1 {
        color: $hot-pink;
        font-size: $heading-font-size;
        line-height: 1.1;
        padding-bottom: 25px;
      }
      h3 {
        font-weight: 600;
        font-size: 22px;
        padding-bottom: 25px;
      }
      p {
        font-size: 18px;
        padding-bottom: 20px;
      }
    }
    .sweets-area {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      max-width: 500px;
      padding-top: 70px;
      gap: 30px;

      img {
        width: 100%;
        height: 230px;
        border-radius: 50%;
        &:hover {
          cursor: pointer;
        }
      }
      .colorful-donuts {
        grid-column: 1/2;
      }
      .chocolate-chip-cookie {
        grid-column: 2/3;
        grid-row: 1/2;
      }

      .strawberries {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      .macarons {
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0px 30px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 700px;
    flex-direction: column;
    align-items: center;
  }
}
